.container-1,
.container-2,
.container-3,
.container-4 {
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-box-rps,
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background: url(tableBackground.png) center;
  color: #fff;
}

/* Challenge 1 */
.flex-box-container-1 div {
  display: flex;
  align-items: center;
}

/* Challenge 2 */
.flex-box-container-2 img {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

/* Challenge 3 */
.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

/* Challenge 4 */
.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  flex: 1;
  height: 350px;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
